@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none;
}

.body {
   font-style: 'Montserrat';
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.container {
  /*  max-width: 1450px; */
   max-width: 1344px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}

.logo {
   display: flex;
   align-items: center;
}

.nav__box {
   display: flex;
   margin-top: 23px;
   text-align: center;
   justify-content: space-between;
}

.nav__title {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 15px;
   color: #B49081;
}

.nav__title .header__span {
   font-weight: 300;
}

.nav__text {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.75em;
   color: #563529;
}

.header__box {
   display: flex;
   justify-content: flex-end;
}

.ul__box {
   display: flex;
   align-items: center;
   gap: 15px;

   margin: 0 10px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #626262
}

.header__btn {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #323232;

   background: #ffffff;
   box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
   border-radius: 6px;

   width: 194px;
   height: 38px;
   align-self: center;
   padding: 9px 39px;
   border: none;
   transition: 0.4s;
}

.header__btn:hover {
   color: #ffffff;
   background-color: #323232;
   transition: 0.5s;
}

.image__title-box {
   background: url(../img/header/Vector.png) center center / cover no-repeat;
   /* height: 698px; */
   height: 960px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__title {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   line-height: 61px;
   color: #323232;
   max-width: 530px;

   
}

.image__picture-box{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.header__ending{
   background: rgba(255, 255, 255, 0.4);
   border: 1px solid #EAEAEA;
   box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.1);
   backdrop-filter: blur(15px);
   border-radius: 20px;
   
   display: flex;
   justify-content: space-between;
   width: 635px;
   margin: 0 auto;
   margin-bottom: 69px;
   margin-top: -69px;
}

.google__play{
   padding: 27px 100px 26px 99px;
}

.app__store{
   padding: 26px 99px 25px 0;
}

/* =================== MAIN =================== */


.money .one{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;

   color: #323232;
   padding: 23px 17px 23px 30px;
}

.money{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;

   color: #323232;
   text-align: center;
   background: #FFFFFF;
   box-shadow: 0px 30px 30px -15px rgba(0, 133, 255, 0.1);
   border-radius: 13px;

   width: 306px;
   height: 70px;
   align-self: center;
   display: flex;
   align-items: center;
}

.main__box{
   display: flex;
}

.main__box-title{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;
   
   color: #626262;
   
   width: 186px;
   display: flex; 
   margin-right: -100px;
}

.pikcha{
   padding: 15px 0 15px 15px;
}

.main__values{
   width: 50%;
   height: 50%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 107px;
}

.main__values li {
   width: 49%;
   margin-bottom: 15px;
}

.money .soum{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;

color: #323232;
}

.money .numbers{
   padding: 23px 6px 23px 11.99px;
}

.main__box-into{
   margin-left: 150px;
}


.left__box .zero{
   margin-left: 30px;
}

.card__box{
   height: 313px;
   margin-top: 79px;
   margin-bottom: 50px;
}

.card__lvl{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;
   color: #626262;
   padding-top: 96px;
}

.card__button{
   display: flex;
   width: 337px;
}

.more{
   margin-left: 30px;
}

.card__title .hopcard{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;
   
   color: #626262;
}

.card__title{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   
   margin-top: 12px;
   color: #626262;
}

.card__about{
   margin-top: 30px;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;

color: #626262;

}

.card__about-title{
   margin-top: 20px;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;

color: #626262;
}

.card__button{
   margin-top: 20px;
}

.btn{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;

   color: #323232;
   background: #FFFFFF;
   box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
   border-radius: 6px;
   padding: 9px 61px 9px 60px;
   border: none;
   transition: 0.4s;
}

.more{
   margin-top: 13px;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;

color: #626262;
}

.btn:hover{
   color: #FFFFFF;
   background: #323232;
   transition: 0.5s;
}

.sale{
   display: flex;
   margin-left: 780px;
   margin-top: -300px;
}

.offer__title{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;

   color: #626262;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

/* ======================== section_credit ================================== */

.left__purple{
   background: #BDC4FF;
   box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
   border-radius: 10px;
   width: 642px;
}

.right__orange{
   width: 642px;
   background: #FFD280;
   box-shadow: 0px 40px 30px -25px rgba(255, 210, 128, 0.4);
   border-radius: 10px;
}

.hit{
   margin-left: 23px;
   width: 59px;
   text-align: center;
   margin-bottom: -28px;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;

   color: #000000;
   background: rgba(255, 255, 255, 0.4);
   border: 0.5px solid rgba(215, 215, 215, 0.3);
   box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(7.5px);
   border-radius: 4px;
}

.credit__title{
   margin-top: 20px;
   padding: 20px;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;

   color: #626262;
}

.credit__text{
   padding: 0 0 20px 20px;
   width: 484px;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;

   color: #323232;

}

.credit__text-info{
   padding: 0 0 20px 20px;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;

   color: #323232;

}

.credit__btn{
   padding: 9px 54px 9px 60px;
   margin: 0 0 20px 20px;

   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;

   color: #323232;
   
   background: #FFFFFF;
   box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
   border-radius: 6px;
   transition: 0.4s;
}

.credit__btn:hover{
   color: #FFFFFF;
   background: #323232;
}

.rocket{
   display: flex;
   margin-left: 524px;
   margin-top: -170px;
}

.saly{
   display: flex;
   margin-left: 524px;
   margin-top: -95px;
}

.credit__box{
   position: relative;
}

.right__orange{
   position: relative;
   left: 680px;
   bottom: 225px;
}

.right__hit{
   z-index: 1;
   position: relative;
   left: 680px;
   bottom: 225px;
   
   margin-left: 23px;
   width: 59px;
   text-align: center;
   margin-bottom: -28px;
   
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;

   color: #000000;
   background: rgba(255, 255, 255, 0.4);
   border: 0.5px solid rgba(215, 215, 215, 0.3);
   box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(7.5px);
   border-radius: 4px;
}

.credit__box{
   height: 230px;
}

.last__btn{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;

   color: #323232;
   background: #FFFFFF;
   box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
   border-radius: 6px;
   padding: 9px 82px;
   transition: 0.4s;
   
   display: flex;
   margin: 30px auto;
}

.last__btn:hover{
   color: #FFFFFF;
   background: #323232;
   transition: 0.5s;
}

/* ===================== footer ====================== */

.footer__box{
   padding-top: 50px;
}

.footer__title{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;

   color: #626262;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.footer__block{
   display: flex;
   gap: 30px;
}

.block__left{
   display: flex;
   flex-direction: column;
   width: 642px;
   height: 487px;
   background: #97EAB9;
   box-shadow: 0px 40px 30px -25px rgba(151, 234, 185, 0.4);
   border-radius: 10px;
}

.block__right{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.green__title{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;

   color: #626262;
   display: flex;
   justify-content: center;
   padding: 25px 0;
}

.block__right-up{
   width: 642px;
   height: 216px;
   background: #FFC1BD;
box-shadow: 0px 25px 30px -20px rgba(255, 193, 189, 0.5);
border-radius: 10px;
}

.block__right-down{
   
   width: 642px;
   height: 228.5px;
   background: #C1B7FF;
box-shadow: 0px 25px 30px -25px rgba(193, 183, 255, 0.4);
border-radius: 10px;
}

.green__human{
   width: 361px;
   height: 400px;
   margin: 0 auto;
}

.footer__pink-title{
   display: flex;
   align-items: center;
   gap: 36px;
   padding: 49px 35px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;

color: #626262;


}

.footer__purple-title{
   display: flex;
   align-items: center;
   padding: 38px 64px;
   gap: 65px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;
   
color: #626262;
}

.footer__box-bottom{
   margin: 32px 0;
   display: flex;
   gap: 30px;
   justify-content: center;
}

.google_play{
   padding: 27px 85px;
   background: #FFFFFF;
box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
border-radius: 12px;
}

.app_store{
   padding: 26px 106px;
   background: #FFFFFF;
box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
border-radius: 12px;
}

.the__end{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;

color: #626262;
display: flex;
justify-content: center;
padding: 20px 25px;
}

.logo__box-last{
   margin-top: 100px;
   display: flex;
   justify-content: center;
   
}

.footer__logo{
   display: flex;
   gap: 10px;
   align-items: center;
}

.footer__title-end{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;

color: #B49081;
}

.footer__title-end .footer__span{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;

color: #B49081;
}

.footer__text{
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: 0.75em;

color: #563529;
}

.media{
   display: none;
}